global:
  resolve_timeout: 5m

route:
  group_by: ['alertname']
  group_wait: 10s
  group_interval: 10s
  repeat_interval: 1h
  receiver: 'telegram-notifications'

receivers:
- name: 'telegram-notifications'
  telegram_configs:
  - bot_token: 'я не настолько глуп, чтобы сюда вставлять токен)'
    chat_id: -1002878641349
    parse_mode: 'HTML' # Позволяет использовать HTML-теги для форматирования
    send_resolved: true # Отправлять уведомление, когда проблема решена
    message: |
      {{ range .Alerts }}
      <b>{{ .Labels.alertname }}</b>
      {{ if .Annotations.summary }}Summary: {{ .Annotations.summary }}{{ end }}
      {{ if .Annotations.description }}Description: {{ .Annotations.description }}{{ end }}
      Labels:
      {{ range .Labels.SortedPairs }} • {{ .Name }}: <code>{{ .Value }}</code>
      {{ end }}
      {{ end }}