version: '3.8'

services:
  app:
    build: .
    ports:
      - "8080:8080"
    environment:
      - MONGO_URI=mongodb://mongo:27017/telegram-analytics
      - PORT=8080
      # Добавляем переменные для трассировки (если нужно)
      - OTEL_SERVICE_NAME=telegram-analytics-service
    depends_on:
      mongo:
        condition: service_started
      jaeger:
        condition: service_healthy 
    networks:
      - o11y-net

  mongo:
    image: mongo:5.0
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    networks:
      - o11y-net

  prometheus:
    image: prom/prometheus:v2.45.0
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
      - ./prometheus/alerts.rules.yml:/etc/prometheus/alerts.rules.yml
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
    depends_on:
      - app
      - mongodb-exporter
    networks:
      - o11y-net

  grafana:
    image: grafana/grafana-oss:9.5.3
    ports:
      - "3000:3000"
    volumes:
      - grafana-data:/var/lib/grafana
      - ./grafana/provisioning/:/etc/grafana/provisioning/
    networks:
      - o11y-net
    depends_on:
      - prometheus

  mongodb-exporter:
    image: percona/mongodb_exporter:0.39
    ports:
      - "9216:9216"
    command:
      - '--mongodb.uri=mongodb://mongo:27017'
      - '--collect-all'
    depends_on:
      - mongo
    networks:
      - o11y-net

  alertmanager:
    image: prom/alertmanager:v0.25.0
    ports:
      - "9093:9093"
    volumes:
      - ./alertmanager/alertmanager.yml:/config/alertmanager.yml
      - alertmanager-data:/data
    command:
      - '--config.file=/config/alertmanager.yml'
      - '--storage.path=/data'
    networks:
      - o11y-net

  locust:
    build:
      context: ./locust
    ports:
      - "8089:8089"
    command: -f /home/locust/locustfile.py --host http://app:8080
    environment:
      # Настройки для OpenTelemetry
      - OTEL_SERVICE_NAME=locust-load-test
      - OTEL_EXPORTER_OTLP_TRACES_ENDPOINT=http://jaeger:4318/v1/traces
      - OTEL_EXPORTER_OTLP_PROTOCOL=http/protobuf
      # Дополнительные настройки трассировки
      - OTEL_RESOURCE_ATTRIBUTES=service.name=locust-load-test,service.version=1.0.0
    networks:
      - o11y-net
    depends_on:
      - app
      - jaeger
  
  jaeger:
    build:
      context: ./jaeger
    ports:
      - "16686:16686" # UI
      - "4318:4318"   # OTLP HTTP receiver
      - "4317:4317"   # OTLP gRPC (на всякий случай)
    networks:
      - o11y-net
    environment:
      - COLLECTOR_OTLP_ENABLED=true
      # Дополнительные настройки для лучшей производительности
      - SPAN_STORAGE_TYPE=memory
      - MEMORY_MAX_TRACES=50000
    healthcheck:
      test: ["CMD", "wget", "-q", "-O", "-", "http://localhost:16686"]
      interval: 5s
      timeout: 2s
      retries: 10

volumes:
  mongo-data:
  grafana-data:
  alertmanager-data:

networks:
  o11y-net: