version: '3.8'

services:
  app:
    build: .
    ports:
      - "8080:8080"
    environment:
      - MONGO_URI=mongodb://mongo:27017/telegram-analytics
      - PORT=8080
    depends_on:
      - mongo
      - jaeger
    networks:
      - o11y-net

  mongo:
    image: mongo:5.0
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    networks:
      - o11y-net

  prometheus:
    image: prom/prometheus:v2.45.0
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
    depends_on:
      - app
      - mongodb-exporter
    networks:
      - o11y-net

  grafana:
    image: grafana/grafana-oss:9.5.3
    ports:
      - "3000:3000"
    volumes:
      - grafana-data:/var/lib/grafana
    depends_on:
      - prometheus
    networks:
      - o11y-net

  mongodb-exporter:
    image: percona/mongodb_exporter:0.39
    ports:
      - "9216:9216"
    command:
      - '--mongodb.uri=mongodb://mongo:27017'
      - '--collect-all'
    depends_on:
      - mongo
    networks:
      - o11y-net

  alertmanager:
    image: prom/alertmanager:v0.25.0
    ports:
      - "9093:9093" # Веб-интерфейс Alertmanager
    volumes:
      - ./alertmanager/alertmanager.yml:/config/alertmanager.yml
      - alertmanager-data:/data
    command:
      - '--config.file=/config/alertmanager.yml'
      - '--storage.path=/data'
    networks:
      - o11y-net

  locust:
    build:
      context: ./locust # Указываем на папку с Dockerfile для Locust
    ports:
      - "8089:8089" # Стандартный порт для UI Locust
    command: -f /home/locust/locustfile.py --host http://app:8080
    networks:
      - o11y-net
    depends_on:
      - app
  
  jaeger:
    image: jaegertracing/all-in-one:1.41 # all-in-one образ для простоты
    ports:
      - "16686:16686" # UI
      - "4318:4318"   # OTLP HTTP receiver
    networks:
      - o11y-net

volumes:
  mongo-data:
  grafana-data:
  alertmanager-data:

networks:
  o11y-net: